@model DiscovrWeb.Models.Event

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Share an Event</h2>

<p>
    Tell us about your event
</p>

@using (Html.BeginForm("Create", "EventHost"))
{
    <div class="form-group">
        @Html.Label("Event name: ")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

        @Html.Label("Event located at: ")
        @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })

        @Html.Label("Event starts at: ")
        @Html.TextBoxFor(x => x.StartTime, new { type = "datetime-local", @class = "form-control" })

        @Html.Label("Event ends at: ")
        @Html.TextBoxFor(x => x.EndTime, new { type = "datetime-local", @class = "form-control" })

        @Html.Label("Organization name: ")
        @Html.TextBoxFor(x => x.Host, new { @class = "form-control" })

        @Html.Label("Describe your event: ")
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit event</button>

}