@model DiscovrWeb.Models.Event

@{
    ViewBag.Title = "Modify Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modifying event</h2>
@using (Html.BeginForm("Update", "EventHost"))
{
    <div class="form-group">
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control hidden", @Value = Model.Id })
        @Html.TextBoxFor(x => x.Guid, new { @class = "form-control hidden", @Value = Model.Guid })

        @Html.Label("Event name: ")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @Value = Model.Name })

        @Html.Label("Event located at: ")
        @Html.TextBoxFor(x => x.Location, new { @class = "form-control", @Value = Model.Location })

        @Html.Label("Event starts at: ")
        @Html.TextBoxFor(x => x.StartTime, new { type = "datetime-local", @class = "form-control", @Value = (Model.StartTime).ToString("s") })

        @Html.Label("Event ends at: ")
        @Html.TextBoxFor(x => x.EndTime, new { type = "datetime-local", @class = "form-control", @Value = Model.EndTime.ToString("s") })

        @Html.Label("Organization name: ")
        @Html.TextBoxFor(x => x.Host, new { @class = "form-control", @Value = Model.Host })

        @Html.Label("Describe your event: ")
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @Value = Model.Description })
    </div>

    <button type="submit" class="btn btn-primary">Update event</button>

}